/* RESET */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* BASE */

body {
  background: #fcf7da;
  color: #111;
  font-family: "IBM Plex Mono", monospace;
  font-size: 12px;
  line-height: 1.5;
}

a {
  color: inherit;
  text-decoration: none;
  transition: opacity 0.2s ease;
}

a:hover {
  opacity: 0.5;
}

ul {
  list-style: none;
}

/* CONTAINER */

.site-container {
  width: 92%;
  margin: 0 auto;
  padding-top: 3rem;
  padding-bottom: 2rem;
}

/* TOPBAR */

.topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 5rem;
}

.logo {
  font-size: 14px;
}

.nav {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.nav a:last-child {
  font-size: 24px;
  line-height: 1;
  position: relative;
  top: 1px;
}

.nav a {
  font-size: 14px;
}

/* HERO */

.hero-grid {
  margin-bottom: 7rem;
}

.hero-right h1 {
  font-size: 14px;
  line-height: 1.5;
  font-weight: normal;
}

/* CONTENT GRID */

.content-row {
  margin-bottom: 3rem;
}

.two-column-grid {
  display: grid;
  grid-template-columns: 0.85fr 2.15fr;
  gap: 3rem;
}

.content-grid {
}

/* SECTIONS */

.section-block {
  margin-bottom: 7rem;
}

.section-heading {
  display: flex;
  gap: 1rem;

  margin-bottom: 2rem;
}

h2 {
  font-size: 12px;
  font-weight: normal;
}

.small-line {
  width: 18px;
  height: 1px;
  background: #111;
  margin-bottom: 0.9rem;
}

/* INDEX */

.section-block ul {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  margin-top: 0.9rem;
}

.section-block p,
.section-block li {
  line-height: 1.65;
}

/* POSTS */

.post-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.post-item {
  display: grid;
  grid-template-columns: 72px 1fr;
  gap: 0.6rem;
}

.date {
  opacity: 0.8;
}

/* NOTES */

.notes-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

/* FOOTER */

.footer {
  margin-top: 3rem;
  align-items: end;
}

.footer-left {
  padding-bottom: 0.15rem;
}

.footer-right {
  border-top: 1px solid #111;

  padding-top: 1.5rem;

  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

/* HOVER */

a:hover {
  opacity: 0.6;
}

/* MOBILE */

@media (max-width: 768px) {

  .hero-grid,
  .content-grid,
  .footer {
    grid-template-columns: 1fr;
    gap: 3rem;
  }

  .topbar {
    margin-bottom: 4rem;
  }

  .hero-grid {
    margin-bottom: 5rem;
  }

  .hero-right h1 {
    font-size: 1.5rem;
  }

  .post-item {
    grid-template-columns: 1fr;
    gap: 0.3rem;
  }

}

/* ARTICLE PAGE */

.article-page {
  width: 88%;
  max-width: 760px;

  margin: 0 auto;
  padding-top: 2rem;
  padding-bottom: 6rem;
}

.article-topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 7rem;

  font-size: 14px;
}

.article-topbar a {
  text-decoration: none;
  color: inherit;
}

.article-meta {
  font-size: 12px;

  margin-bottom: 1.5rem;
}

.article-page h1 {
  font-size: 40px;
  line-height: 1.3;
  font-weight: normal;

  margin-bottom: 4rem;

  max-width: 720px;
}

.article-content {
  max-width: 680px;
}

.article-content p {
  font-size: 14px;
  margin-bottom: 1.2rem;
  line-height: 1.9;
}

.article-content strong {
  font-weight: 900 !important;
}


.article-content h2 {
  font-size: 15px;
  font-weight: 900 !important;

  margin-top: 5rem;
  margin-bottom: 2rem;
}

.article-content h3 {
  font-size: 18px;
  font-weight: normal;

  margin-top: 4rem;
  margin-bottom: 1.5rem;
}

.article-content blockquote {
  margin: 3rem 0;
  padding-left: 2rem;

  opacity: 0.7;

  border-left: 1px solid black;
}

.article-content img {
  display: block;

  margin-top: 2rem;
  margin-bottom: 2rem;
}

.article-content img.left {
  margin-left: 0;
  margin-right: auto;
}

.article-content img.center {
  margin-left: auto;
  margin-right: auto;
}

.article-content img.right {
  margin-left: auto;
  margin-right: 0;
}

.article-content a {
  color: inherit;

  text-decoration: underline;
}

.article-content ul,
.article-content ol {
  margin-bottom: 2rem;
  padding-left: 1.5rem;
}

.article-content li {
  margin-bottom: 1rem;
}

.article-footer {
  margin-top: 8rem;
  padding-top: 2rem;

  border-top: 1px solid black;

  font-size: 12px;
}

.article-footer a {
  text-decoration: none;
  color: inherit;
}

.article-content img + em {
  display: block;

  margin-top: -1.5rem;
  margin-bottom: 2rem;

  font-size: 12px;
  opacity: 0.7;
  text-align: center;
}

.article-content hr {
  border: none;
  border-top: 1px solid black;

  margin: 5rem 0;
}

::selection {
  background: black;
  color: #f4f1ea;
}

/* page */

.archive-page {
  max-width: 900px;
  margin: 0 auto;

  padding: 6rem 2rem;
}

.archive-top {
  display: flex;
  justify-content: space-between;

  margin-bottom: 6rem;
}

.archive-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.archive-item {
  display: grid;
  grid-template-columns: 120px 1fr;
  text-decoration: none;
  color: inherit;
}

.archive-item:hover {
  opacity: 0.6;
}

.archive-date {
  opacity: 0.5;
}

/* ABOUT */

.about-page {
  max-width: 760px;
  margin: 0 auto;

  padding: 6rem 2rem;
}

.about-topbar {
  display: flex;
  justify-content: space-between;

  margin-bottom: 8rem;
}

.about-content h1 {
  margin-bottom: 4rem;
}

.about-content p {
  margin-bottom: 2rem;

  line-height: 1.9;
}

/* SEARCH */
.search-page {
  max-width: 760px;
  margin: 0 auto;

  padding: 6rem 2rem;
}

.search-topbar {
  display: flex;
  justify-content: space-between;

  margin-bottom: 6rem;
}

#search-input {
  width: 100%;

  background: transparent;
  border: none;
  border-bottom: 1px solid black;

  padding-bottom: 1rem;
  margin-bottom: 4rem;

  font: inherit;
}

#search-input:focus {
  outline: none;
}

#results {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.article-pagination a {
  text-decoration: none;

  font-size: 18px;
}

.archive-excerpt {
  margin-top: 0.4rem;

  font-size: 12px;
  line-height: 1.6;

  opacity: 0.6;

  max-width: 480px;
}

.article-tags {
  display: flex;
  gap: 1rem;

  margin-top: 1rem;
  margin-bottom: 4rem;

  font-size: 12px;
}

.article-tags a {
  text-decoration: none;
  opacity: 0.6;
}

.footnotes li {
  margin-bottom: 0.5rem;
}

.footnotes ol {
  gap: 0.5rem;
}

.footnotes p {
  margin-bottom: 0;
}

/*pet*/

.pet-header {

  padding: 1rem;

  border-bottom:
    1px solid #444;
  
  padding-bottom: 0.5rem;

}

.pet-world {

  position: relative;
  height: 150px;

  overflow: hidden;

  margin-top: 0.5rem;
  margin-bottom: 0.5rem;

  border-bottom: 1px solid #444;

}

.pet-controls {
padding: 0.5rem 1rem 1rem;

}

#chau-pet {
  margin-top: 2rem;

  border: 1px solid black;

  padding: 1rem;

  max-width: 240px;
}

.xp-bar {

  margin-top: 0.5rem;
  margin-bottom: 0.5rem;

  height: 6px;

  border: 1px solid #111;

  overflow: hidden;

  width: 100%;

}

#xp-fill {

  height: 100%;

  background:
    repeating-linear-gradient(
      90deg,
      #111 0,
      #111 6px,
      transparent 6px,
      transparent 8px
    );

  width: 0%;

}

.pet-playground {

  position: relative;

  height: 100%;

}


#pet-sprite.pet-evolving {

  animation:
    evolveShake 0.08s linear infinite !important;

}

@keyframes evolveShake {

  0% {
    transform:
      translate(-4px,-2px);
  }

  25% {
    transform:
      translate(4px,2px);
  }

  50% {
    transform:
      translate(-4px,2px);
  }

  75% {
    transform:
      translate(4px,-2px);
  }

  100% {
    transform:
      translate(-4px,-2px);
  }

}

#pet-sprite.pet-rebooting {

  animation:
    rebootShake
    0.05s
    linear
    infinite
    !important;

}

@keyframes rebootShake {

  0% {
    transform:
      translate(-2px,-1px);
  }

  25% {
    transform:
      translate(2px,1px);
  }

  50% {
    transform:
      translate(-2px,1px);
  }

  75% {
    transform:
      translate(2px,-1px);
  }

  100% {
    transform:
      translate(-2px,-1px);
  }

}


#pet-poop {

  position: absolute;

  left: 0;
  top: 0;

  opacity: 0;

  pointer-events: none;

}


.coffee {

  top: 8px;
  right: 10px;

}

.books {

  bottom: 8px;
  left: 8px;

}

.laptop {

  bottom: 8px;
  right: 10px;

}

.pet-name {
  margin-bottom: 0.15rem;
}

#pet-age {

  margin-bottom: 0.25rem;

  font-size: 11px;
  opacity: 0.45;

}

#pet-mood {
  margin-bottom: 1rem;

  opacity: 0.7;
}

#pet-thought {


  margin-top: 0.15rem;
  margin-bottom: 0.4rem;

  font-size: 0.5rem;

  font-style: italic;

  min-height: 1.5rem;

  color: #66604f;

  transition:
    opacity 0.4s ease;

}

#pet-thought.show {

  opacity: 1;

}

#pet-status {

  height: 1rem;

  margin-top: 1rem;

  font-size: 0.75rem;

  color: #448244;

}

.pet-row {

  position: absolute;

  left: 60px;
  top: 35px;

  display: flex;
  align-items: center;

  gap: 0.35rem;

  transition:
    left 1s ease,
    top 1s ease;

}

#pet-decor {

  position: absolute;

  inset: 0;

  pointer-events: none;

}

.decor-item {

  position: absolute;

  font-size: 16px;

  opacity: 0.8;

}

#pet-grass {

  position: absolute;

  
  left: 0;
  right: 0;


  bottom: 6px;

  text-align: center;

  color: #77aa66;

  opacity: 0.7;

  pointer-events: none;

  font-size: 12px;

  line-height: 1;

}

.pet-actions {

  display: grid;

  grid-template-columns:
    repeat(3, max-content);

  gap: 0.5rem;

  margin-top: 0;

  width: 100%;

  justify-content: center;


}

#pet-action {

  font-size: 18px;
  min-width: 24px;

  opacity: 0;

  transition: opacity 0.2s ease;

  margin-left: 0.5rem;

}

#pet-action.show {

  opacity: 1;

}

.pet-actions button {
  background: transparent;
  border: 1px solid black;

  padding: 0.15rem 0.5rem;

  font-size: 12px;

  font: inherit;

  cursor: pointer;
}

#pet-stage {

  font-size: 11px;

  opacity: 0.55;

  margin-bottom: 0.5rem;

  color: #8a8474;

}

#pet-stage::before {

  content: "status: ";

}

#pet-status {
  margin-top: 1rem;

  opacity: 0.6;

  font-size: 11px;
}

#pet-sprite {

  white-space: nowrap;

  display: inline-block;

  font-size: 24px;

  line-height: 1;

  margin-top: 0px;
  margin-bottom: 0spx;

  transition:
    transform 0.2s ease;

}

#pet-sprite {

  animation:
    idle 2s ease-in-out infinite;

}


.pet-bounce {

  transform: translateY(-4px);

}

.pet-walking {

  animation:
    walk 0.4s ease-in-out infinite;

}

@keyframes walk {

  0% {
    transform:
      translateY(0px);
  }

  50% {
    transform:
      translateY(-4px);
  }

  100% {
    transform:
      translateY(0px);
  }

}

@keyframes idle {

  0% {
    transform:
      translateY(0px);
  }

  50% {
    transform:
      translateY(-3px);
  }

  100% {
    transform:
      translateY(0px);
  }

}

@media (max-width: 768px) {

  .hero-grid,
  .two-column-grid,
  .content-row,
  .footer {
    grid-template-columns: 1fr;
  }

  .hero-grid,
  .content-row {
    gap: 4rem;
  }

  .article-page {
    padding: 2rem 1.5rem;
  }

  .article-content {
    font-size: 1.8rem;
    line-height: 1.8;
  }

  .article-content h2 {
    font-size: 2.4rem;
  }

  .archive-item {
    grid-template-columns: 1fr;
    gap: 0.5rem;
  }

  .topbar,
  .archive-top,
  .article-topbar {
    flex-direction: column;
    gap: 2rem;
  }

}