---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>

  <main class="about-page">

    <div class="about-topbar">

      <a href="/">
        too many open tabs
      </a>

      <a href="/">
        index
      </a>

    </div>

    <section class="about-content">

      <h1>
        About
      </h1>

      <p>
        Somewhere between a personal archive,
        a notebook,
        and an overgrown Google document.
      </p>

      <p>
        This website gathers translations,
        notes,
        unfinished thoughts,
        screenshots,
        references,
        and other forms of temporary storage.
      </p>

      <p>
        Built slowly using Astro and too many open tabs.
      </p>

      <p>
        Hanoi, Vietnam.
      </p>

    </section>

  </main>

</BaseLayout>s